#validatedPlayers{
    display:none;
}


label[for="validatedPlayers"]{
    @include transition(background-color, 0.5s);
    &.disabled-button{
        @include button();
    }
    &.active-button{
        @include button($rojo);
    }
}

.button{
    @include transition(background-color, 0.5s);
    &.disabled-button{
        @include button();
    }
    &.active-button{
        @include button($negro);
    }  
}

.marcador{
    margin-bottom: 2px;
    padding: 10px;
    color: $negro;
    text-align: center;
    text-transform: uppercase;

    .esTurnoDe{
        @include flexCenterContent();
        span.playerIndicator{
            width: 20px;
            height: 20px;
            border-radius: 100px;
            display: block;
            margin-left: 15px;
            &.redPlayer{
                background-color: $rojo;
            }
            &.blackPlayer{
                background-color: $negro;
            }
        }
    }
}
.board-row{
    width:fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    display: flex;
    margin: auto;
    
}
.board-row .board-cell{
    width:80px;
    height: 80px;
    border: 1px solid $disabled;
    @include flexCenterContent();
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    margin:2px;
    border-radius: 1000px;

    span {
        width: 100%;
        height: 100%;
        border-radius: 1000px;
        @include flexCenterContent();
        @include transform(rotateY(180deg));
        @include backface(hidden);
        @include transition(transform, 0.2s);
        &.showUp{
            @include transform(rotateY(0deg))
        }
        color:transparent;
        &.bg-rojo{
            background-color:$rojo;
        }
        &.bg-negro{
            background-color:$negro;
        }

    }
}

