/*PRESETS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #484848;
  text-decoration: none;
}
a:active, a:focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
}

.form-group * {
  display: block;
  width: 100%;
}

input {
  background: #eaeaea;
  border: 0;
  padding: 5px;
  margin: 5px 0;
}

#validatedPlayers {
  display: none;
}

label[for=validatedPlayers] {
  -webkit-transition: background-color 0.5s linear 0s;
  -moz-transition: background-color 0.5s linear 0s;
  -ms-transition: background-color 0.5s linear 0s;
  transition: background-color 0.5s linear 0s;
}
label[for=validatedPlayers].disabled-button {
  color: white;
  padding: 10px 25px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: #d8d8d8;
}
label[for=validatedPlayers].disabled-button:hover {
  cursor: default;
}
label[for=validatedPlayers].active-button {
  color: white;
  padding: 10px 25px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: #a52b2b;
}
label[for=validatedPlayers].active-button:hover {
  cursor: pointer;
}

.button {
  -webkit-transition: background-color 0.5s linear 0s;
  -moz-transition: background-color 0.5s linear 0s;
  -ms-transition: background-color 0.5s linear 0s;
  transition: background-color 0.5s linear 0s;
}
.button.disabled-button {
  color: white;
  padding: 10px 25px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: #d8d8d8;
}
.button.disabled-button:hover {
  cursor: default;
}
.button.active-button {
  color: white;
  padding: 10px 25px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: #484848;
}
.button.active-button:hover {
  cursor: pointer;
}

.marcador {
  height: 40px;
  margin-bottom: 2px;
  padding: 10px;
  color: #484848;
  text-align: center;
  text-transform: uppercase;
}
.marcador .esTurnoDe {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.marcador .esTurnoDe span.playerIndicator {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  display: block;
  margin-left: 15px;
}
.marcador .esTurnoDe span.playerIndicator.redPlayer {
  background-color: #a52b2b;
}
.marcador .esTurnoDe span.playerIndicator.blackPlayer {
  background-color: #484848;
}

.board-row {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  display: flex;
  margin: auto;
}

.board-row .board-cell {
  width: 80px;
  height: 80px;
  border: 1px solid #d8d8d8;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  margin: 2px;
  border-radius: 1000px;
  -webkit-transition: transform 0.5s linear 0s;
  -moz-transition: transform 0.5s linear 0s;
  -ms-transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
}
.board-row .board-cell.inWinLine {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.board-row .board-cell:hover {
  cursor: pointer;
}
.board-row .board-cell span {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform 0.2s linear 0s;
  -moz-transition: transform 0.2s linear 0s;
  -ms-transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
  color: transparent;
}
.board-row .board-cell span.showUp {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.board-row .board-cell span.bg-rojo {
  background-color: #a52b2b;
}
.board-row .board-cell span.bg-negro {
  background-color: #484848;
}

/*App css general*/
body {
  font-family: "Ubuntu Condensed", sans-serif;
}

h1 {
  padding: 10px;
}

.noVisible {
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.menu {
  padding: 15px;
  position: fixed;
  width: 100%;
  text-align: center;
  border-bottom: #a52b2b solid;
  background: #484848;
  color: white;
}
.menu > li {
  display: inline;
}
.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li > a {
  color: white;
  padding: 10px;
}

#content {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
}

.large-menu-cont {
  position: relative;
}
.large-menu-cont img {
  width: 32px;
  height: auto;
}
.large-menu-cont img:hover {
  cursor: pointer;
}
.large-menu-cont img.control-left {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}
.large-menu-cont img.control-right {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
.large-menu-cont .large-menu {
  position: relative;
  width: 300px;
  height: 320px;
  margin: auto;
  overflow: hidden;
}
.large-menu-cont .large-menu ul {
  position: absolute;
  top: 0;
  margin: auto;
  margin-top: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  flex-flow: row;
  -webkit-transition: left 0.6s ease-in-out 0s;
  -moz-transition: left 0.6s ease-in-out 0s;
  -ms-transition: left 0.6s ease-in-out 0s;
  transition: left 0.6s ease-in-out 0s;
}
.large-menu-cont .large-menu ul li {
  position: relative;
  top: 0;
}
.large-menu-cont .large-menu ul li img {
  width: 300px;
}
.large-menu-cont .large-menu ul li img.not-available {
  opacity: 0.3;
}
.large-menu-cont .large-menu ul li p {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.score-board {
  padding: 0 30px;
  max-width: 350px;
}
.score-board li {
  padding: 15px;
  color: #484848;
  margin: 15px 0;
}
.score-board li p span {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  color: white;
}
.score-board li p span.redPlayer {
  background-color: #a52b2b;
}
.score-board li p span.blackPlayer {
  background-color: #484848;
}

.players {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  score-board {
    margin-top: 75px;
  }

  .sm-col-1 {
    width: 8.3333333333%;
    padding: 10px;
  }

  .sm-col-2 {
    width: 16.6666666667%;
    padding: 10px;
  }

  .sm-col-3 {
    width: 25%;
    padding: 10px;
  }

  .sm-col-4 {
    width: 33.3333333333%;
    padding: 10px;
  }

  .sm-col-5 {
    width: 41.6666666667%;
    padding: 10px;
  }

  .sm-col-6 {
    width: 50%;
    padding: 10px;
  }

  .sm-col-7 {
    width: 58.3333333333%;
    padding: 10px;
  }

  .sm-col-8 {
    width: 66.6666666667%;
    padding: 10px;
  }

  .sm-col-9 {
    width: 75%;
    padding: 10px;
  }

  .sm-col-10 {
    width: 83.3333333333%;
    padding: 10px;
  }

  .sm-col-11 {
    width: 91.6666666667%;
    padding: 10px;
  }

  .sm-col-12 {
    width: 100%;
    padding: 10px;
  }
}
@media only screen and (min-width: 601px) {
  #content {
    align-items: center;
  }

  .md-col-1 {
    width: 8.3333333333%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-2 {
    width: 16.6666666667%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-3 {
    width: 25%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-4 {
    width: 33.3333333333%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-5 {
    width: 41.6666666667%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-6 {
    width: 50%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-7 {
    width: 58.3333333333%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-8 {
    width: 66.6666666667%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-9 {
    width: 75%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-10 {
    width: 83.3333333333%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-11 {
    width: 91.6666666667%;
    max-width: 600px;
    padding: 20px;
  }

  .md-col-12 {
    width: 100%;
    max-width: 600px;
    padding: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
