<div class="players">

    <div ng-show="!validatedPlayers">
            <div class="form-group">
                <label for="player1" >Jugador 1</label>
                <input type="text" ng-model="$ctrl.player1.name"/>
            </div>    
            <div class="form-group">
                <label for="player2">Jugador 2</label>
                <input type="text" ng-model="$ctrl.player2.name"/>           
            </div>
    </div>

    <label for="validatedPlayers">Jugar</label>
    <input id="validatedPlayers" type="checkbox" ng-model="validatedPlayers" ng-disabled=" !$ctrl.player1.name || !$ctrl.player2.name"/>
</div>

<div id="game-board" class="" ng-show="validatedPlayers">
    <div class="marcador">
        {{$ctrl.isEnded? $ctrl.result: 
            $ctrl.isXTurn ? 'Turno del jugador X' : 'Turno del jugador O'}}
    </div>
    <board tablero="$ctrl.tablero" is-ended="$ctrl.isEnded" handle-reset="$ctrl.reset()" handle-click="$ctrl.turn(row, col)"></board>
</div>
