$rojo:#a52b2b;
$negro:#484848;

//Al importarlo el primero, estará disponible
//tb en el resto de imports!
@import 'partials/mixins';

@import 'partials/presets';
@import 'partials/forms';
@import 'partials/tresEnRaya';

/*App css general*/
.menu {
    padding: 15px;
    position:fixed;
    width: 100%;
    text-align: center;
    border-bottom: $rojo solid;
    background: $negro;
    color:white;

    > li {
        display: inline;

        + li:before {
            content: "|";
            padding-right: 0.3em;
        }

        > a{
            color:white;
        }
    }
}
  
#content{
    @include flexCenterContent();
    min-height: 100vh;
}

.estoesuncambio{
    color:white;
}
