//Colores
$rojo:#a52b2b;
$negro:#484848;
$disabled: #d8d8d8;

//Tamaños de pantala
$mdScreen:600px;
$lgScreen:1600px;

//Al importarlo el primero, estará disponible
//tb en el resto de imports!
@import 'partials/mixins';

@import 'partials/presets';
@import 'partials/forms';
@import 'partials/tresEnRaya';

/*App css general*/
body{
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1{
    padding:10px;
}
.noVisible{
    visibility: hidden;
}
.visible{
   visibility: visible !important;
}
.d-block{
    display:block;
}
.text-center{
    text-align: center;
}

.menu {
    padding: 15px;
    position:fixed;
    width: 100%;
    text-align: center;
    box-shadow: 1px 2px 2px 1px #989898;
    background: $rojo;

    > li {
        display: inline;

        > a{
            color:white;
            text-transform: uppercase;
            padding: 10px;
        }
    }
}
  
#content{
    @include flex();
    justify-content: center;
    min-height: 100vh;
}
@mixin sliderControl(){
    display: block;
    position:absolute;
    top:50%;
}
.large-menu-cont{
    position: relative;
    img{
        width:32px;
        height: auto;
        &:hover{
            cursor:pointer;
        }
        &.control-left{
            @include sliderControl();
            left:0;
        }
        &.control-right{
            @include sliderControl();
            right:0;
        }
    }
    .large-menu{
        position: relative;
        width:300px;
        height: 320px;;
        margin:auto;
        overflow:hidden;
        ul{
            position: absolute;
            top:0;
            margin: auto;
            margin-top:40px;
            @include flex();
            flex-flow: row;
            @include transition(left, 0.6s, ease-in-out);
            li{
                position: relative;
                top:0;
    
                img{
                    width:300px;
                    &.not-available{
                        opacity:0.3
                    }
                }
                p{
                    position: absolute;
                    bottom: 20px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.score-board{
    padding: 0 30px;
    max-width: 350px;
    li{
        padding: 15px;
        color:$negro;
        margin:15px 0;
        p{
            span{
                @include flexCenterContent();
                float: right;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                color:white;
                &.redPlayer{
                    background-color: $rojo;
                }
                &.blackPlayer{
                    background-color: $negro;
                }
            }
        }
    }
}
.players{
    @include flexCenterContent();
}


//Este bucle no sirve en este proyecto pero sería una forma de aplciar distios
//estilos en funcion del nivel de hijos dentro del menu, para un menu con varios
//submenus por ejemplo.

.menuEspecial{
    @for $i from 1 through 4 {
        &:nth-child(#{$i}){
            width:(100 *$i)+(px);
        }
    }
}
//Generación de columnas con prefijo sm- (solo aplicables a pantallas pequeñas)
@media only screen and(max-width:#{($mdScreen*1-1)}){
    score-board{
        margin-top: 75px;
    }
    @for $i from 1 through 12{
        .sm-col-#{$i}{
            width: (100% * $i / 12);
            padding:10px;
        }
    }
}
//Generación de columnas con prefijo md- (solo aplicables a pantallas medianas y grandes)
@media only screen and(min-width: $mdScreen){
    #content{
        align-items: center;
    }
    @for $i from 1 through 12{
        .md-col-#{$i}{
            width: (100% * $i / 12);
            max-width: 600px;
            padding:20px;
        }
    }
}
//Generación de columnas con prefijo md- (solo aplicables a pantallas grandes)
@media only screen and(min-width:$lgScreen){
    @for $i from 1 through 12{
        .lg-col-#{$i}{
            width: (100% * $i / 12);
            max-width: 600px;
            padding:30px;
        }
    }
}